@import '~reset-css';

button {
  display: inline-flex;
  border-radius: 0;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;

  &:focus {
    outline: none;
  }
}

input {
  background: transparent;
  border: none;
}

input[type=submit] {
  -webkit-appearance: none;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

input[type=text], textarea {
  -webkit-appearance: none;

  &:disabled {
    opacity: 1;
  }
}

input {

  &:focus {
    box-shadow: none;
  }
}

textarea {
  background: transparent;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

div, h1, h2, h3, h4, h5, h6 {
  display: flex;
  flex-direction: column;
}
